/*---------------------------------
  Breakpoints + Variables
 ---------------------------------*/


$break--xs: 23.4375rem; // Triggers at 375px
$break--base: 47.9375rem; // Triggers at 767px
$break--small: 63.75rem; // Triggers at 1020px
$break--medium: 79.9375rem; // Triggers at 1279px
$break--large: 100rem; // Triggers at 1600px
$break--extra: 125rem; // Triggers at 2000px

// Note: Most times you use a breakpoint mixin it should use 'at-break', please try to only
// use 'under-break' when it avoids creating unnecessary overrides at larger breakpoints

// Example: @include at-break(breakpoint-variable)
@mixin at-break($viewportWidth) {
	@media only screen and (min-width: $viewportWidth) {
		@content;
	}
}
// Example: @include under-break(breakpoint-variable)
@mixin under-break($viewportWidth) {
	@media only screen and (max-width: ($viewportWidth - 0.0625rem)) {
		@content;
	}
}

:export {
	breakXs: $break--xs * 16 / 1rem;
	breakBase: $break--base * 16 / 1rem;
	breakSmall: $break--small * 16 / 1rem;
	breakMedium: $break--medium * 16 / 1rem;
	breakLarge: $break--large * 16 / 1rem;
	breakExtra: $break--extra * 16 / 1rem;
}
